<div class='container'>
  <h1>Edit task</h1>
  <div>
    <%= form_for(@task) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :details %>
        <%= f.text_field :details %>
        <%= f.check_box :completed %>
        <%= f.submit class: "btn btn-warning" %>
    <% end %>
  </div>
  <p><%= link_to 'Back to list', tasks_path, class: "btn btn-outline-secondary" %></p>
</div>
